<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.delavnicaFNM.game"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/main_title" >
        <activity
            android:name=".GameProjectActivity"
            android:label="@string/main_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/about_label" android:name=".VizitkaActivity"></activity>
        <activity android:name="GameDataInputTeams"></activity>
        <activity android:name="Pricni"></activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name="Tocke"></activity>
    </application>

</manifest>